/* ;;;;;;;;;;;;;;;;index ;;;;;;;;;;;;;;;;; */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
background: rgba(51,30,246,1);
background: -moz-linear-gradient(-45deg, rgba(51,30,246,1) 0%, rgba(51,30,246,1) 9%, rgba(226,30,8,1) 51%, rgba(238,83,63,1) 51%, rgba(225,35,14,1) 51%, rgba(122,26,219,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(51,30,246,1)), color-stop(9%, rgba(51,30,246,1)), color-stop(51%, rgba(226,30,8,1)), color-stop(51%, rgba(238,83,63,1)), color-stop(51%, rgba(225,35,14,1)), color-stop(100%, rgba(122,26,219,1)));
background: -webkit-linear-gradient(-45deg, rgba(51,30,246,1) 0%, rgba(51,30,246,1) 9%, rgba(226,30,8,1) 51%, rgba(238,83,63,1) 51%, rgba(225,35,14,1) 51%, rgba(122,26,219,1) 100%);
background: -o-linear-gradient(-45deg, rgba(51,30,246,1) 0%, rgba(51,30,246,1) 9%, rgba(226,30,8,1) 51%, rgba(238,83,63,1) 51%, rgba(225,35,14,1) 51%, rgba(122,26,219,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(51,30,246,1) 0%, rgba(51,30,246,1) 9%, rgba(226,30,8,1) 51%, rgba(238,83,63,1) 51%, rgba(225,35,14,1) 51%, rgba(122,26,219,1) 100%);
background: linear-gradient(135deg, rgba(51,30,246,1) 0%, rgba(51,30,246,1) 9%, rgba(226,30,8,1) 51%, rgba(238,83,63,1) 51%, rgba(225,35,14,1) 51%, rgba(122,26,219,1) 100%);
background-size: 100% 100%; background-attachment: fixed;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#331ef6', endColorstr='#7a1adb', GradientType=1 );
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.App {
text-align: center;  

}

 .App-logo {
  animation: App-logo-spin infinite 40s linear;
  height: 5vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
